<div class="container-fluid">
  <div class="row ">
    <div class="col text-center"><h1>ENTER TO GOOGLE KEEP </h1></div>
  </div>


  <div class="row ml-0 mr-0">
    <div class="col-4"></div>
    <div class="col-4">
      <div clas="jumbotron bg-success">
        <br/>
        <br/>
        <br/>
        <form #ref="ngForm" (ngSubmit)="saveMethod(ref.value)">


          <div class="form-group">
            <p><label for="user"> <b>Title: </b></label>
              <input id="user" type="text" class="form-control" placeholder="Title" name="title" required
                     [(ngModel)]="title">
          </div>



          <div class="form-group">
            <p><label for="user"> <b>Notes: </b></label>
              <textarea  id="cpass" placeholder="13a@b3" class="form-control" required name="note" [(ngModel)]="note" rows="4" cols="50">
</textarea>
          </div>

          <button type="submit" class="btn btn-danger mt-4 " [disabled]="!ref.valid">Create</button>
        </form>
      </div>


    </div>
    <div class="col-4"></div>
  </div>

  <div class="row ">
    <div class="col text-center"><h1>Pinned data</h1></div>
    <table border="8" class="border-0" style="width:100%">
      <thead style="font-size: 25px;color: darkblue">
      <th>Title</th>
      <th>Note</th>
      <th>Status</th>
      </thead>
      <tr style="font-size: 20px;color:darkred" *ngFor="let i of pArray">
        <td>{{i.title}}</td>
        <td>{{i.note}}</td>
        <td>
          <button class="btn btn-danger mt-4 " (click)="updateRecordpin(i)">Unpin</button>

        </td>
      </tr>
    </table>
  </div>


  <div class="row ">
    <div class="col text-center"><h1>UnPinned data</h1></div>
    <table border="8" class="border-0" style="width:100%">
      <thead style="font-size: 25px;color: darkblue">
      <th>Title</th>
      <th>Note</th>
      <th>Status</th>
      </thead>

      <tr style="font-size: 20px;color:darkred" *ngFor="let item of uparr">
        <td>{{item.title}}</td>
        <td>{{item.note}}</td>
        <td>
          <button class="btn btn-primary mt-4 glyphicon glyphicon-pushpin" (click)="updateRecordunpin(item)"></button>
        </td>
      </tr>
    </table>
  </div>
</div>
